@import "tailwindcss";

:root{
    background-image: linear-gradient(to right, black, rgb(24, 23, 23), black);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0
}